# Configuração da Aplicação
APP_NAME="java-teste"
NAMESPACE="<namesace-k8s>"

# Configuração do OCI Registry
OCIR_REGION="gru.ocir.io"
OCIR_NAMESPACE="<namespace-ocir>"
OCIR_REPO="<nome-repo>"

# Configuração do Banco de Dados
DB_HOST="<seu-host>.adb.sa-saopaulo-1.oraclecloud.com"
DB_SERVICE_NAME="<seu-service-name>_medium.adb.oraclecloud.com"
